@charset "utf-8";
body {
    background-image: -webkit-linear-gradient(315deg,rgba(126,161,114,1.00) 0%,rgba(53,61,47,1.00) 100%);
    background-image: -moz-linear-gradient(315deg,rgba(126,161,114,1.00) 0%,rgba(53,61,47,1.00) 100%);
    background-image: -o-linear-gradient(315deg,rgba(126,161,114,1.00) 0%,rgba(53,61,47,1.00) 100%);
    background-image: linear-gradient(135deg,rgba(126,161,114,1.00) 0%,rgba(53,61,47,1.00) 100.00%);
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #DFA06E;
    height: 1000px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}
#wrapper #headder {
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    height: 11%;
    background-color: #BFDBFE;
    margin-top: -15px;
    border-radius: 15px 35px;
    -webkit-box-shadow: 4px 8px 27px -1px #000000;
    box-shadow: 4px 8px 27px -1px #000000;
}
#wrapper #headder #right {
    margin-left: 7px;
    margin-top: 6px;
    float: left;
    padding-right: 28%;
    border-bottom-left-radius: 36px 36px;
    border-top-left-radius: 15px 15px;
}
#wrapper #headder #heading {
    padding-top: 3%;
}
#wrapper #nav {
    margin-top: 23px;
    background-color: #353D2F;
    height: 3.5%;
    padding-top: 12px;
}
#wrapper #nav .button {
    width: 8%;
    padding-left: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: 0.3s;
}

#wrapper #nav .button:hover{
    transform: translateY(-3px);
}

#nav .button a {
    text-decoration: none;
    color: #000000;
    background-color: #BFDBFE;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: #EAEAEA #EAEAEA #A5A5A5 #A5A5A5;
    transition: 0.3s;
}

#nav .button a:hover {
    color: #FFFFFF;
    background-color: #60758E;
    transform: translateY(-3px);
    -webkit-box-shadow: 4px 4px 11px -2px #60738A;
    box-shadow: 4px 4px 11px -2px #60738A;
}
